---
import { ThemeScript } from "astro-theme-toggle";
import { getCollection } from "astro:content";
import { twMerge } from "tailwind-merge";
import BaseHead from "../components/BaseHead.astro";
import { Navigation } from "../components/Navigation";
import { SideMenu } from "../components/SideMenu";
import { ThemeToggle } from "../components/ThemeToggle";
import { buildContentTree } from "../lib/content-trees";
import "../styles/global.css";

const { metadata = {} } = Astro.props;

const notes = await getCollection("notes", ({ data }) => !import.meta.env.PROD || !data.draft);
const contentTree = buildContentTree(notes);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <BaseHead {...metadata} />
        <ThemeScript />
    </head>
    <body class="min-h-dvh">
        <div
            class={twMerge(
                "relative mx-auto flex flex-col max-w-7xl px-4 h-full",
                "md:flex-row md:px-6 md:gap-x-10",
                "lg:px-10 lg:gap-x-20"
            )}
        >
            <div class="grow-0 shrink md:basis-1/3 select-none">
                <div class="sticky top-0 md:pt-12 lg:pt-24 h-dvh not-md:hidden flex flex-col items-start">
                    <a href="/" class="-ml-4 -mt-4 mb-12 block font-mono text-6xl font-bold aspect-square text-center"
                        >η</a
                    >
                    <Navigation tree={contentTree} pathname={Astro.url.pathname} client:load />
                    <div class="w-full font-mono py-2 mb-0 mt-auto flex flex-row justify-between items-end opacity-60">
                        <a href="https://hornik.dev" target="_blank" class="text-sm hover:underline"
                            >&copy; {new Date().getFullYear()} Ian Hornik</a
                        >
                        <ThemeToggle client:only="react" className="-mb-1" />
                    </div>
                </div>
                <div
                    class="fixed top-0 w-full bg-bg border-b border-fg-dimmest md:hidden -mx-3 py-4 px-3 flex flex-row justify-between items-center md:basis-2/3 z-100"
                >
                    <a href="/" class="block px-1 -mt-3 font-mono text-4xl font-bold text-center">η</a>
                    <SideMenu tree={contentTree} pathname={Astro.url.pathname} client:load />
                </div>
            </div>

            <main class="flex grow max-w-4xl flex-col pb-48 not-md:pt-24 md:pt-12 lg:pt-24">
                <slot />
            </main>
        </div>
    </body>
</html>
